body {
	margin: 0 auto;
	padding: 0;
	background-image:url("../img/paisaje.jpg");
}

/* Primera Sección, primer cuadro con los datos del reto de Código*/

/* Estilos para el encabezado*/

.encabezado {
	width: 100%;
	height: 50px;
	background-color:#33ccff;
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	color: #fff;
}

.central {
	display: block; 
}

/* Estilos Primer cuadro*/
.container {
	vertical-align: top;
	display: inline-block;
	font-family:"Segoe UI",Arial,sans-serif;
	font-size: 16px;
}


/* Estilos Primer cuadro*/

.primerCuadro {
	background-color: #fff;
	width: 500px;
	height: 250px;
	color: #000;
	margin-left: 120px; 
	margin-top: 10px;
	font-family:"Segoe UI",Arial,sans-serif;
	font-size: 20px;
	display: inline-block;
}


/* Estilos Primer cuadro*/

.primerCuadro .first {
	padding-left: 30px;
	font-family:"Segoe UI",Arial,sans-serif;
	font-size: 20px;
	font-weight: bold;

}

/* Estilos Primer cuadro*/

.primerCuadro .second {
	padding-left: 30px;
	font-family:"Segoe UI",Arial,sans-serif;
	font-size: 16px;
	

}

#azul {
	padding-left: 30px;
	padding-top: 50px;
	font-family:"Segoe UI",Arial,sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: blue;
}

/* Segunda Sección, segundo cuadro con los datos con el parrafo a ingresar*/

.area{
	display: inline-block;

	font-size: 16px;
}

/* Estilos Segundo cuadro*/

.segundoCuadro {
	background-color: #fff;
	width: 500px;
	height: 150px;
	color: #000;
	margin-right: 150px; 
	margin-top: 10px;
	
}

.txt {
	border:0;
	width: 90%;
	margin-left: 10px;
	margin-top: 10px;
	line-height: 30px;
	font-family:"Segoe UI",Arial,sans-serif;
	font-size: 12px;
}

/* Desactivar el borde del textarea cuando recibe el focus */
textarea:focus {
	border:0;
	outline: none;
}

.hr-activado {
  border-color: #33ccff;
  width: 90%;
  margin-left: 10px;
}

.hr-desactivado {
	border-color:#ccc;
	width: 90%;
	margin-left: 10px;
}


.boton-activado {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 10px;
	background-color: #33ccff;
	color:#fff;
}

.boton-desactivado {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 10px;
	background-color: #ccc;
	color:#000;
}



.contador {
	float:right;
	margin-right: 40px;
	color:#33ccff;
}

.contador_red {
	float:right;
	margin-right: 40px;
	color:red;
}

.contador_yellow {
	float:right;
	margin-right: 40px;
	color:yellow;
}


#cont {
	width: 73%;
	margin-left: 121px;
	margin-top: 40px;
	


}

#cont div{
	margin-top: 10px;
	background-color: #fff;
	font-family:"Segoe UI",Arial,sans-serif;
	font-size: 12px;
}

.parrafo{
	margin-left: 5px;
	width: 200px;
}

.fecha{
	margin-left: 5px;
	width: 200px;
}


